html {
    font-family: "Raleway", Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

body {
    width: clamp(15em, calc(100vw - 2em), 38em);
    margin: min(5vw, 5em) auto;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    letter-spacing: 0.05em
}

h2 {
    font-size: 1.5em;
    letter-spacing: 0.05em
}